@charset "UTF-8";
#wpbody-content{
  #field-settings{
    width: 820px;
    table-layout: fixed;
    // table-layout: auto;
    tbody{
      tr{
        th{
          padding-left: 20px;
        }
        td{
          padding-left: 0;
          padding-right: 0;
        }
        &:first-child{
          th{
            padding-left: 0;
          }
        }
      }
    }
  }
  .link-doc{
    margin-top: 20px;
    a{
      display: inline-block;
      text-decoration: none;
      dl{
        width: 100%;
        display: table;
        margin: 0;
        dt, dd{
          display: table-cell;
          vertical-align: middle;
        }
        dt{
          width: 18px;
          img{
            display: block;
          }
        }
        dd{
          padding-left: 8px;
        }
      }
    }
  }
}
